body {
    font-family: 'Raleway';
    box-sizing: content-box;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.big-container {
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: #CD96C8;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 5px solid #CD96C8;
  background-image: none;
}

.number {
    font-size: 32px; 
    font-weight: bold; 
    margin-bottom: 24px;
    line-height: 10px; 
    padding-top: 24px;
}

@media (min-width:960px) {
    .number {
        font-size: 124px;
    }
}

/* 
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #CD96C8;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #CD96C8;
} */

/* section {
    top: 0px;
    left: 0px;
    bottom: 0px;
} */

/* .promo-banner {
    width: 100%;
    max-width: 100%; 
    background-color: aqua;
}

.promo-banner img {
    height: 100vh;
    width: auto;
} */

/* .logo {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: auto;
}

.model-1 {
    width: 100%;
}


.model-1 img{
    width: auto;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
} */

/* .big-container {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.promo-banner {
    height: auto;
    width: 100%;
    padding-top: 10px;
    padding: 10px; 
    margin: auto;
}

.input {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.input input:focus {
    border-color: blueviolet;
}   

.content-1 .title-1 {
    font-size: 20px;
    color: red;
}

.content-1 .title-2 {
    font-size: 35px;
    color: #dac3e4;
}

.content-1 .subtitle {
    font-size: 12px;
}

.content-2 .row {
    color: white;
    width: 100%;
    font-size: 24px;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #dac3e4;
}

.content-2 .row img {
    border-radius: 25px;
    width: 100%;
     border: 2px solid #73AD21; 
}

.content-2 .row .description p {
    background-color: red; 
    color: white;
} 

.content-3 {
    background-color: #cf483c;
    padding: 5%;
    color: white;
    text-align: start;
}

.content-3 img {
    border-radius: 25px;
    border: 2px solid #73AD21; 
}

.content-4 h3 {
    margin-top: 20px;
    color: #73AD21;
}

.content-4 h3 span {
    font-style: italic;
    margin-top: 10px;
    color: red;
}

.content-4 h1 {
    margin-top: 10px;
}

.content-4 p {
    color: #cf483c;
}

.content-5 {
    text-align: start;
}

.content-5 .row .col img {
    margin: 10px;
    border-radius: 25px;
    border: 2px solid #73AD21;
}

.content-5 .row .col ol li span {
    font-weight: bold;
    margin-top: 10px;
    color: #cf483c;
}

ol {list-style: none; counter-reset: li}

li {counter-increment: li}

ol li::before {
    content: counter(li); 
    color: #cf483c;
    display: inline-block; 
    font-weight: bold;
    width: 1em; 
    margin-left: -1.5em;
    margin-right: 0.5em; 
    text-align: left; 
    direction: rtl
}

.content-6 {
    margin-top:24px;
    padding: 24px;
    border-radius: 24px;
    background-color: #73AD21;
    color: white;
    text-align: start;
}

.content-6 img {
    border-radius: 24px;
}

.content-7 {
    color: white;
    background-color: #cf483c;
    padding: 10px;
    margin: 5px;
    border-radius: 24px;
}

.content-7 .title {
    font-size: 24px;
}

.content-7 .subtitle {
    font-size: 28px;
    font-weight: bold;
}

.content-8 .carousel {
    background-color: #f2e9f6;
    background-image: url('#dac3e4', '#cf483c', '#73AD21'); 
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 24px;
    padding: 24px;
}

.content-8 p{
    font-size: 28px;
    padding-top: 24px;
    color: #dac3e4;
    font-style: oblique;
    font-weight: bold;
    position: absolute; 
}

.content-8 .row .col-4 img {
    width: 90%;
    height: auto;
}

.content-8 img {
    height: 640px;
    width: auto;
    border-radius: 24px;
}

.content-9 {
    background-color: #dac3e4;
    padding: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    color: white;
}

.price {
    text-decoration: line-through;
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.sachet {
    font-style: italic;
    font-size: 14px;
}

.real-desc {
    font-weight: bold;
    color: red;
}

.real-price {
    font-size: 32px;
    font-weight: bold;
    color: #73AD21;
}

.promo-desc {
    font-size: 28px;
    font-weight: bold;
    color: #73AD21;
}

.content-9 .col-3 {
    border: #73AD21 1px solid;
    margin: 24px;
    padding: 20px;
    border-radius: 24px;
    color: wheat;
    font-size: 28px;
    cursor: pointer;
    font-weight: bolder;
    background-color: #73AD21;
}

.content-9 img {
    width: 100%;
    height: auto;
    border-radius: 24px;
    margin: 24px;
}

.content-10 {
    background-color: #73AD21;
    padding: 5%;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    color: white;
    text-align: start;
}

.content-10 img {
    height: auto;
    width: 480px;
    border-radius: 25px;
    border: 2px solid #73AD21;
}

.content-11 {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
}

.content-11 li {
    padding-left: 24px;
}

.content-11 img {
    width: 100%;
    height: auto;
    border-radius: 24px;
}


.content-12 .col-3 {
    border: #73AD21 1px solid;
    margin: 24px;
    padding: 20px;
    border-radius: 24px;
    color: wheat;
    font-size: 28px;
    cursor: pointer;
    font-weight: bolder;
    background-color: #73AD21;
}

.content-12 p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 32px;
    color: #cf483c;
}

.content-12 img {
    width: 25%;
    height: auto;
    border-radius: 24px;
    margin: 24px;
}

.input {
    margin-left: auto;
    background-color: #f2e9f6;
    padding: 24px;
    background-image: url("/roove/assets/images/logo-2.JPG"); 
    margin-right: auto;
}

.input button{
    margin-left: auto;
    margin-right: auto;
}


@media (min-width:960px) {
    
    .navbar img {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    } 

    .big-container {
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .promo-banner {
        height: auto;
        width: 100%;
        padding-top: 10px;
        padding: 10px; 
        margin: auto;
    }

    .input {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .input input:focus {
        border-color: blueviolet;
    }   

    .content-1 .title-1 {
        font-size: 20px;
        color: red;
    }

    .content-1 .title-2 {
        font-size: 35px;
        color: #dac3e4;
    }

    .content-1 .subtitle {
        font-size: 12px;
    }

    .content-2 .row {
        color: white;
        font-size: 24px;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: #dac3e4;
    }

    .content-2 .row img {
        border-radius: 25px;
        border: 2px solid #73AD21; 
    }

    .content-2 .row .description p {
        background-color: red; 
        color: white;
    } 

    .content-3 {
        background-color: #cf483c;
        padding: 5%;
        color: white;
        text-align: start;
    }

    .content-3 img {
        border-radius: 25px;
        border: 2px solid #73AD21; 
    }

    .content-4 h3 {
        margin-top: 20px;
        color: #73AD21;
    }

    .content-4 h3 span {
        font-style: italic;
        margin-top: 10px;
        color: red;
    }

    .content-4 h1 {
        margin-top: 10px;
    }

    .content-4 p {
        color: #cf483c;
    }

    .content-5 {
        text-align: start;
    }

    .content-5 .row .col img {
        margin: 10px;
        border-radius: 25px;
        border: 2px solid #73AD21;
    }

    .content-5 .row .col ol li span {
        font-weight: bold;
        margin-top: 10px;
        color: #cf483c;
    }

    ol {list-style: none; counter-reset: li}

    li {counter-increment: li}

    ol li::before {
        content: counter(li); 
        color: #cf483c;
        display: inline-block; 
        font-weight: bold;
        width: 1em; 
        margin-left: -1.5em;
        margin-right: 0.5em; 
        text-align: left; 
        direction: rtl
    }

    .content-6 {
        margin-top:24px;
        padding: 24px;
        border-radius: 24px;
        background-color: #73AD21;
        color: white;
        text-align: start;
    }

    .content-6 img {
        border-radius: 24px;
    }

    .content-7 {
        color: white;
        background-color: #cf483c;
        padding: 10px;
        margin: 5px;
        border-radius: 24px;
    }

    .content-7 .title {
        font-size: 24px;
    }

    .content-7 .subtitle {
        font-size: 28px;
        font-weight: bold;
    }

    .content-8 .carousel {
        background-color: #f2e9f6;
        background-image: url('#dac3e4', '#cf483c', '#73AD21'); 
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 24px;
        padding: 24px;
    }

    .content-8 p{
        font-size: 28px;
        padding-top: 24px;
        color: #dac3e4;
        font-style: oblique;
        font-weight: bold;
        position: absolute; 
    }

    .content-8 .row .col-4 img {
        width: 90%;
        height: auto;
    }

    .content-8 img {
        height: 640px;
        width: auto;
        border-radius: 24px;
    }

    .content-9 {
        background-color: #dac3e4;
        padding: 24px;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        color: white;
    }

    .price {
        text-decoration: line-through;
        font-size: 24px;
        font-weight: bold;
        color: red;
    }

    .sachet {
        font-style: italic;
        font-size: 14px;
    }

    .real-desc {
        font-weight: bold;
        color: red;
    }

    .real-price {
        font-size: 32px;
        font-weight: bold;
        color: #73AD21;
    }

    .promo-desc {
        font-size: 28px;
        font-weight: bold;
        color: #73AD21;
    }

    .content-9 .col-3 {
        border: #73AD21 1px solid;
        margin: 24px;
        padding: 20px;
        border-radius: 24px;
        color: wheat;
        font-size: 28px;
        cursor: pointer;
        font-weight: bolder;
        background-color: #73AD21;
    }

    .content-9 img {
        width: 100%;
        height: auto;
        border-radius: 24px;
        margin: 24px;
    }

    .content-10 {
        background-color: #73AD21;
        padding: 5%;
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 24px;
        color: white;
        text-align: start;
    }

    .content-10 img {
        height: auto;
        width: 480px;
        border-radius: 25px;
        border: 2px solid #73AD21;
    }

    .content-11 {
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
        text-align: start;
    }

    .content-11 li {
        padding-left: 24px;
    }

    .content-11 img {
        width: 100%;
        height: auto;
        border-radius: 24px;
    }


    .content-12 .col-3 {
        border: #73AD21 1px solid;
        margin: 24px;
        padding: 20px;
        border-radius: 24px;
        color: wheat;
        font-size: 28px;
        cursor: pointer;
        font-weight: bolder;
        background-color: #73AD21;
    }

    .content-12 p {
        font-size: 18px;
        font-weight: bold;
        margin-top: 32px;
        color: #cf483c;
    }

    .content-12 img {
        width: 25%;
        height: auto;
        border-radius: 24px;
        margin: 24px;
    }

    .input {
        margin-left: auto;
        background-color: #f2e9f6;
        padding: 24px;
        background-image: url("/roove/assets/images/logo-2.JPG");
        margin-right: auto;
    }

    .input button{
        margin-left: auto;
        margin-right: auto;
    }
} */